{% extends 'base.html.twig' %}

{% block title %}Create Account{% endblock %}

{% block body %}
	<div class="login-clean">
	        <form method="post" action="signup-error">
	            <h2 class="sr-only">Register Form</h2>
	            {% if echec is defined %}
	        		<div class="alert alert-danger text-center" role="alert">
				 		 This email already exists !
					</div>
	        	{% endif %}
	            <div class="illustration"><i class="icon ion-person-add"></i></div>
	            <div class="form-group"><input type="text" name="name" placeholder="Full name" class="form-control" required /></div>
	            <div class="form-group"><input type="email" name="email" placeholder="Email" class="form-control" required/></div>
	            <div class="form-group"><input type="password" name="password" placeholder="Password" class="form-control" required /></div>
	            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Create account</button></div><a href="{{path('signin')}}" class="forgot">Have an account?&nbsp;Sign in.<br></a>
	        </form>
    </div>
{% endblock %}
