<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
		    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
		    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
        	<link rel="stylesheet" href="{{asset('assets/css/styles.min.css')}}">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  			<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
  			<script language = "javascript">  
		      $(document).ready(function(){   
		         $("#sortbydistance").on("click", function(event){  
		         	if (navigator.geolocation) {
					    navigator.geolocation.getCurrentPosition(showPosition);
					  } else { 
					    alert("Geolocation is not supported by this browser.")
					  }
					  function showPosition(position) {
					  	$("#lat").val(position.coords.latitude);
					  	$("#lng").val(position.coords.longitude);
					  	$("#position").submit();
						}
		             
		         });  
		      });  
		   </script> 
        {% endblock %}
    </body>
</html>
